.navbarTop .navbar {
    height: 68px;
    background-color: rgb(28, 20, 68);
    display: flex;
    align-items: center;
}
.searchbar{
    background-color: #1c1444;
    border: none;
    outline: none;
    color: white;
}
.buttonsign{
    width: 80px;
    align-self: center;
    line-height: 2;
    height: 30px;
    border: none;
    border-radius: 4px;
    outline: none;
    color: rgb(6, 18, 29);
    text-align: center;
    background-color: rgb(12, 243, 243);
}
.navbarTop .navbar .logo-caret {
    display: flex;
    align-items: center;
    gap: 42px;
}
.navbarTop .navbar p {
    color: rgb(39, 163, 194);
}

.navbarTop .navbar .logo-caret svg {
    color: rgb(206, 206, 206);
    width: 30px;
    height: 30px;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}
.navbarTop .navbar .logo-caret img {
    color: rgb(206, 206, 206);
    width: 30px;
    height: 30px;
    padding: 4px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.navbarTop .navbar .logo-caret svg:hover,
.navbarTop .navbar .logo-caret svg.highlighted {
    background-color: rgba(205, 234, 255, 0.12);
}

.navbarTop .navbar .upgrade-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
}

.navbarTop .navbar .upgrade-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-right: 4px;
    color: white;
    font-size: 14px;

    border: 1px solid rgb(138, 110, 255);
    background-color: transparent;
    width: 112px;
    height: 36px;
    border-radius: 8px;
}
.button123 {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button123:hover {
    background-color: #0056b3;
}

.button123:active {
    transform: translateY(1px);
}

.navbarTop .navbar .upgrade-container button svg {
    fill: white;
    width: 20px;
    height: 20px;
    transform: translate(0px, 2px);
}

.navbarTop .navbar .upgrade-container .search-box > svg {
    fill: rgb(226, 226, 226);
    width: 17px;
    height: 17px;
}

.navbarTop .navbar .upgrade-container .search-box span {
    color: rgba(171, 178, 196, 0.64);
    padding-left: 2px;
    font-size: 15px;
}

.navbarTop .navbar .upgrade-container .search-box {
    color: white;
    border: 1px solid rgb(146, 130, 212);
    width: 478px;
    background-color: transparent;
    border-radius: 8px;
    height: 36px;
    box-sizing: border-box;
    outline: none;
    padding-left: 10px;
    cursor: text;
    margin-left: 120px;
}

.navbarTop .navbar .upgrade-container > div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbarTop .navbar .accounts {
    display: flex;
    align-items: center;
    text-align: right;
    padding-left: 20px;
    padding-right: 10px;
    cursor: pointer;
}

.navbarTop .navbar .accounts div:first-of-type {
    color: rgb(210, 210, 210);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding-right: 10px;
}

.navbarTop .navbar .accounts div:first-of-type span:last-of-type {
    color: rgb(146, 130, 212);
    font-size: 12px;
}

.navbarTop .navbar .accounts .accounts-icon {
    color: rgb(212, 212, 212);
    border: 1px solid rgba(179, 170, 216, 0.719);
    border-radius: 8px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarTop .navbar .accounts .accounts-icon.highlighted {
    background-color: rgba(74, 57, 143, 0.5);
}

.navbarTop .container {
    display: flex;
    flex-direction: row;
}

.navbarTop .container .crash-doe {
    position: relative;
    background-color: rgb(28, 20, 68);
    height: calc(100vh - 68px);
    width: 250px;
    text-align: center;
    z-index: 1;
}

.navbarTop .container .crash-doe > div {
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
    width: 236px;
    height: 36px;
    margin: 0px auto;
    padding-left: 10px;
    padding-right: 5px;
    box-sizing: border-box;
}

.navbarTop .container .crash-doe > div:first-of-type {
    margin-top: 10px;
}

.navbarTop .container .crash-doe > div.active {
    background-color: rgba(74, 54, 143, 0.3);
    border-radius: 8px;
    font-weight: 500;
}

.navbarTop .container .crash-doe > button {
    width: 186px;
    height: 44px;
    background-color: rgb(7, 245, 245);
    border-radius: 8px;
    border: none;
    font-size: 16px;
    color: rgb(3, 8, 15);
    cursor: pointer;
}

.navbarTop .container .crash-doe .recode-hang {
    margin-top: 2px;
    margin-bottom: 2px;
}

.navbarTop .container .crash-doe .recode-hang:hover {
    cursor: pointer;
    border-radius: 8px;
    background-color: rgba(74, 54, 143, 0.185);
}

.navbarTop .container .crash-doe .recode-hang img:first-of-type {
    margin-right: 2px;
}

.navbarTop .container .crash-doe .rebater-foe {
    margin-top: 1px;
    margin-bottom: 1px;
}

.navbarTop .container .crash-doe .rebater-foe:hover {
    cursor: pointer;
    border-radius: 8px;
    background-color: rgba(74, 54, 143, 0.185);
}

.navbarTop .container .crash-doe .rebater-foe img {
    transform: translateX(-2px);
}

.navbarTop .container .crash-doe .rebater-foe:last-of-type img {
    transform: translateX(-5px);
}

.navbarTop .container .crash-doe .rebater-foe:nth-of-type(2) img {
    transform: translate(-3px, 1px);
}

.navbarTop .container .crash-doe .rebater-foe.active {
    background-color: rgba(74, 54, 143, 0.3);
    border-radius: 8px;
    font-weight: 500;
}

.navbarTop .container .crash-doe .iambic-het {
    margin-left: auto;
}

.navbarTop .container .crash-doe .box1 {
    all: unset;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box2 {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
}

.labels-container {
    display: flex;
    width: 100%;
    flex-direction: column;
   align-items: flex-start;
}

.label-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align button to the left side */
    font-size: xx-small;
}

.button123 {
    /* Add your button styles here */
    margin-left: -25px; /* Add some margin if needed */
    width: 250px;
    display: flex;
    align-items: flex-start;
    font-size: 12px;
}
.label-item img {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
}

.label-item div {
    margin-top: 5px; /* Adjust as needed */
    text-align: center;
}

.aligner{
    display: flex;
    justify-content: space-between;

}
.navbarTop .container .crash-doe .griffins-bad {
    margin-left: 8px;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 500;
    color: rgb(123, 131, 154);
}

.navbarTop .container .crash-doe .griffins-bad.inactive {
    margin-left: auto;
}

.navbarTop .container .crash-doe .box1 > div {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    color: rgb(179, 163, 245);
    border-bottom: 1px solid rgb(65, 48, 133);
    height: 42px;
    box-sizing: border-box;
}

.navbarTop .container .crash-doe .box1 .goaded-nus {
    width: 236px;
    height: 36px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-align: left;
    padding-left: 16px;
    margin-bottom: 2px;
    box-sizing: border-box;
    cursor: pointer;
}

.navbarTop .container .crash-doe .box1 .goaded-nus:hover {
    color: white;
    background-color: rgba(74, 54, 143, 0.3);
}

.navbarTop .container .crash-doe .box1 .sieve-care {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbarTop .container .crash-doe .box1 .sieve-care > div:first-of-type {
    width: 168px;
    height: 36px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 8px;
    text-align: start;
    padding-left: 18px;
    border-radius: 8px;
    margin: 0px auto;
    cursor: pointer;
}

.navbarTop .container .crash-doe .box1 .sieve-care > div:first-of-type:hover {
    color: white;
    background-color: rgba(74, 54, 143, 0.3);
}

.navbarTop .container .crash-doe .box1 > div:hover svg {
    fill: white;
}

.navbarTop .container .crash-doe .box1 > div svg {
    width: 13px;
    height: auto;
}

.navbarTop .container .crash-doe .box1 .active {
    border-bottom-color: transparent;
}

.navbarTop .container .crash-doe .box1 .active svg {
    rotate: 90deg;
}

.navbarTop .container .crash-doe .box1 > div .lacteal-bay {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto;
    padding-right: 12px;
}

.navbarTop .container .crash-doe .box1 > div .lacteal-bay svg {
    width: 18px;
    height: auto;
    fill: white;
}

.navbarTop .container .crash-doe .box1 .taskers-ten {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 0px 8px 10px 8px;
    margin-top: -5px;
}

.navbarTop .container .crash-doe .box1 .taskers-ten > div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 36px;
    padding-left: 15px;
    color: white;
    font-size: 14px;
    box-sizing: border-box;
}

.navbarTop .container .crash-doe .box1 .snaky-ooze {
    all: unset;
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 36px;
    font-size: 12px;
    padding-left: 25px;
    color: rgb(179, 163, 245);
    border-bottom: 1px solid rgb(65, 48, 133);
    box-sizing: border-box;
    flex-direction: column;
}

.navbarTop .container .crash-doe .box1 .snaky-ooze.no-border {
    border-color: transparent;
}

.navbarTop .container .crash-doe .meter-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 11px;
    color: rgb(179, 163, 245);
}

.navbarTop .container .crash-doe .meter-container .meter {
    position: relative;
    width: 224px;
    height: 4px;
    background-color: rgb(60, 43, 128);
    border-radius: 10px;
}

.navbarTop .container .crash-doe .meter-container .range {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(224px * 10/500);
    height: 4px;
    background-color: white;
    border-radius: 10px;
}

.navbarTop .container .crash-doe .meter-container .tubers-eat {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbarTop .container .crash-doe .textState {
    background-color: rgb(145, 124, 231);
    padding: 3px 8px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    box-sizing: border-box;
}

.navbarTop .container .crash-doe .textState.inactive {
    margin-left: auto;
}

.navbarTop .container .sidebar {
    width: 59px;
    height: calc(100vh - 68px);
    background-color: rgb(28, 20, 68);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
